/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close {
    width: 88px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 40px;
}

.sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}

.sidebar li a {
    list-style: none;
    height: 100%;
    color: purple;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 12px;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background: gray;
    color: black;
    border-radius: 5px;
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

/* Dark Mode Toggle */
.menu-bar .mode {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 6px;
    background-color: #e1e1e1;
    margin-top: 20px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
}

.menu-bar .mode .sun-moon {
    display: flex;
    align-items: center;
    height: 50px;
    width: 60px;
}

.sun-moon i {
    font-size: 18px;
    color: #555;
    transition: opacity 0.3s ease;
    position: absolute;
}

.sun-moon i.sun {
    color: #f9d71c;
    opacity: 0;
}

body.dark .sun-moon i.sun {
    opacity: 1;
}

body.dark .sun-moon i.moon {
    opacity: 0;
}

.toggle-switch {
    width: 40px;
    height: 20px;
    background-color: #bbb;
    border-radius: 25px;
    position: absolute;
    transition: background-color 0.3s ease;
}

body.dark .toggle-switch {
    background-color: black;
}

body.dark .menu-bar .mode .text {
    color: black;
}

.toggle-switch .switch {
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 2px;
    transition: left 0.3s ease;
}

body.dark .toggle-switch .switch {
    left: 22px;
}

/* Fixes for Sidebar Close */
.sidebar.close .menu-bar .mode {
    justify-content: center;
}

.sidebar.close .menu-bar .mode .text {
    display: none;
}

.sidebar.close .menu-bar .mode .toggle-switch {
    margin: 0 auto;
}

.sidebar .icon {
    font-size: 20px;
}

.sidebar .toggle {
    position: absolute;
    top: 15px;
    right: -5px;
    background: purple;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

body.dark .sidebar .toggle {
    background: black;
    color: white;
}

.sidebar.close .toggle {
    transform: rotate(0);
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 80px;
        position: relative;
        height: auto;
        z-index: 100;
        overflow-x: hidden;
        transition: width 0.3s;
    }

    .sidebar.close {
        width: 100%;
    }
}
